<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../resources/css/styles.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>

    <body class="d-flex flex-column min-vh-100">
        
        <nav class="navbar navbar-expand w-100 navbar-bg-color">
            <div class="container-fluid p-0">
                <div class="navbar-nav w-100">
                    <a class="navbar-text flex-fill text-center border-end" href="./home.html">Home</a>
                    <a class="navbar-text flex-fill text-center border-end" href="./hobbies.html">Hobbies</a>
                    <a class="navbar-text flex-fill text-center border-end" href="./projects.html">Projects</a>
                    <a class="navbar-text flex-fill text-center" href="./resume.html">Resume</a>
                </div>
            </div>
        </nav>

        
        
            

        <!-- 1. The <main> tag is an element on the page-->
        <!-- 3. The <section> tag is the child of the <main> tag-->
        <main class="d-flex flex-column container pt-2">
            <section class="row">
                <div class="col">
                <h1>Home</h1>
                </div>
            </section>
    
            <section class="align-items-center row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- 2. The href in the img tag is an attribute-->
                        <img class="img-fluid" src="../resources/img/Nate.jpg" alt="A picture of Nate Koo"></img>
                    </div>

                    <div class="col">
                        <p>
                            I am Nate, an undergraduate student at CU Boulder studying computer science. On this site, you can learn about my

                            <ul class="list-group">
                                <li class="list-group-item">Projects</li>
                                <li class="list-group-item">Hobbies</li>
                                <li class="list-group-item">Resume</li>
                            </ul>
                        </p>   
                    </div>
            </section>
        </main>

        <footer class="flex mt-auto mb-2 footer-bg-color">
            <div class="ps-2 pt-4 pb-4">
                <a href="http://www.linkedin.com/in/nathanael-koo-3115a4366">Linkedin</a>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>