<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../resources/css/styles.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand w-100 navbar-bg-color">
        <div class="container-fluid p-0">
            <div class="navbar-nav w-100">
                <a class="navbar-text flex-fill text-center border-end" href="./home.html">Home</a>
                <a class="navbar-text flex-fill text-center border-end" href="./hobbies.html">Hobbies</a>
                <a class="navbar-text flex-fill text-center border-end" href="./projects.html">Projects</a>
                <a class="navbar-text flex-fill text-center" href="./resume.html">Resume</a>
            </div>
        </div>
    </nav>

        <!-- 1. The <main> tag is an element on the page-->
        <!-- 3. The <section> tag is the child of the <main> tag-->
        <main class="d-flex flex-column container pt-3">
            <section class="row">
                <div class="col">
                    <h1>Projects</h1>
                </div>
            </section>
            
            <div class="col">
                <section class="row project-card">
                    <div class="card">
                        <h1>CSCI 3308 Web Development Project</h1>

                        <div class="mx-auto col-12 col-md-6 text-center">
                            <!-- 2. The href in the img tag is an attribute-->
                            <img class="img-fluid" src="../resources/img/website_dev.png" alt="An image of the development of this website"></img>
                        </div>

                        <p>
                            My current project is developing this website for CSCI 3308 - Software Development Methods and Tools.
                        </p>   
                    </div>
                </section>

                <section class="row project-card">
                    <div class="card">
                        <h1>Memory Allocator in C</h1>

                        <div class="mx-auto col-12 col-md-4 text-center">
                            <img class="mx-auto img-fluid" src="../resources/img/malloc_lab.png" alt="Image of a unit test."></img>
                        </div>

                        <p>
                            Another project I have created is a memory allocator written in C for the Computer Systems course.
                        </p>   
                    </div>
                </section>

                <section class="row project-card">
                    <div class="card">
                        <h1>Simple Game (My Video Game)</h1>

                        <div class="mx-auto col-12 col-md-4 text-center">
                            <img class="img-fluid" src="../resources/img/TreePixelArt.png" alt="A pixel art tree from a game I made."></img>
                        </div>

                        <p>
                           A pixel art tree from one of the games I developed as a project in my spare time.
                        </p> 
                    </div>  
                </section>

                 <section class="row project-card">
                    <div class="card">
                        <h1>CSCI 3308 Lab 4 - Calendar Project</h1>

                        <p>A simple calendar I made as a project for CSCI 3308 Software Development Methods and Tools</p>
                        
                        <a class="mt-2 mb-2 resume-btn btn btn-primary" target="_blank" rel="noopener noreferrer" href="./Calendar/index.html">Open Project</a>
                    </div>  
                </section>
            </div>
        </main>

        <footer class="flex mt-auto mb-2 footer-bg-color">
            <div class="ps-2 pt-4 pb-4">
                <a href="http://www.linkedin.com/in/nathanael-koo-3115a4366">Linkedin</a>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>