<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../resources/css/styles.css"></link>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand w-100 navbar-bg-color">
            <div class="container-fluid p-0">
                <div class="navbar-nav w-100">
                    <a class="navbar-text flex-fill text-center border-end" href="./home.html">Home</a>
                    <a class="navbar-text flex-fill text-center border-end" href="./hobbies.html">Hobbies</a>
                    <a class="navbar-text flex-fill text-center border-end" href="./projects.html">Projects</a>
                    <a class="navbar-text flex-fill text-center" href="./resume.html">Resume</a>
                </div>
            </div>
        </nav>

        <main class="container">
            <h1 class="mt-2">Resume</h1>

            <section class="row">
                <div class="col">
                    <ul>
                        <li>CSCI 2270 Data structures - In this class we learned about different Data structures such as lists, hashmaps, and trees.</li>
                        <li>Computer Systems - In this class we learned about x86 assembly and how computers work on a binary level.</li>
                        <li>I am currently taking CSCI 3308 Software Development Methods and Tools and CSCI 3403 Introduction to Cybersecurity</li>
                    </ul>
                </div>
            </section>

            <div class="accordion" id="contactAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="contactHeader">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#contactCollapse" aria-expanded="false" aria-controls="contactCollapse">
                            Contact Me
                        </button>
                    </h2>

                    <div id="contactCollapse" class="accordion-collapse collapse" aria-labelledby="contactHeader" data-bs-parent="#contactAccordion">
                    <div class="accordion-body">
                        Email: 
                        <ul>
                            <li>nako2875@colorado.edu</li>
                            <li>nate.koo@colorado.edu</li>
                        </ul>

                        <a class="resume-btn btn btn-primary" href="http://www.linkedin.com/in/nathanael-koo-3115a4366">My Linkedin</a>
                    </div>
                </div>
            </div>

            <a class="resume-btn btn btn-primary mt-3" href="../resources/pdf/Lab 3 Resume.pdf" download="Sample-Resume.pdf">Download Resume</a>
        </main>

         <footer class="flex mt-auto mb-2 footer-bg-color">
            <div class="ps-2 pt-4 pb-4">
                <a href="http://www.linkedin.com/in/nathanael-koo-3115a4366">Linkedin</a>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>